.actionButton {
  color: white;
}

.icon {
  padding-right: 5px;
  position: relative;
  top: 2px;
  width: 13px;
}

.chat {
  top: 3px;
}

.btnBack {
  color: black;
}

.btnExplantion {
  background: #9ba17b;
}

.btnRemarks {
  background: #cdaa7d;
}

.btnRemarks img {
  top: 3px;
}

.btnConfirm {
  background: #4b6043;
}

.btnHistory {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9em;
}

.btnAdd {
  font-size: 0.9em;
  width: 100%;
  border: 1px solid #6969698f;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: unset;
  border-radius: 3px;
}
