.sidebar {
  overflow: scroll;
  position: relative;
}

.estimates {
  padding: 0.5em;
}

.estimates .content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.estimates .collapsible {
  padding: 0.3em 0.5em;
}

.estimates .contentInfo,
.estimates .contentSummary {
  padding: 0.5em 0.7em;
}

.estimates .collapsible {
  border: 1px solid #e2e2e2;
}

.valuationToolbar {
  background-color: white;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 0.9em;
}

.edit {
  padding-left: 5px;
  width: 15px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5em;
}

.actionBar button {
  flex: 1;
  font-size: 0.8em;
}
