@import '../styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-secundary);
  width: 35%;
  min-width: 400px;
  height: 100%;
  overflow-y: auto;
}

.estimates {
  padding: 0.5em;

  .content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .collapsibleButton {
    padding: 0.3em 0.5em;
    border: 1px solid var(--color-border);
  }
}

.estimates .contentInfo,
.estimates .contentSummary {
  padding: 0.5em 0.7em;
}

.valuationToolbar {
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-border);
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 0.9em;
}

.edit {
  padding-left: 5px;
  width: 15px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5em;

  button {
    flex: 1;
    font-size: 0.8em;
    white-space: nowrap;
  }
}

.propertyData {
  overflow: scroll;
}
